lastproject2/src/main/mule/lastproject2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:shopify="http://www.mulesoft.org/schema/mule/shopify"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/shopify http://www.mulesoft.org/schema/mule/shopify/current/mule-shopify.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4cba104f-b740-42b9-8d59-57aa21bbbc66" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e66d8e28-9b47-4f48-8376-df6e49386c8d" basePath="mule-l2-final-project.myshopify.com" >
		<http:request-connection host="mule-l2-final-project.myshopify.com" port="443" protocol="HTTPS"/>
	</http:request-config>
	<shopify:config name="Shopify_Connector_Config" doc:name="Shopify Connector Config" doc:id="561df37f-afc0-4b8a-ad0a-45cc5677ac72" >
		<shopify:basic-auth-connection username="fcdbdd9ae6ab70463ab5d219ef48265d" password="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" baseUri="https://mule-l2-final-project.myshopify.com/" />
	</shopify:config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="b0224c7a-8b1c-47b0-a8c3-357bb243e86f" basePath="/numverify.com" >
		<http:request-connection host="numverify.com" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="0ddbb281-8701-4841-b271-16e804c753d1" basePath="numverify.com" >
		<http:request-connection host="numverify.com" />
	</http:request-config>
<http:request-config name="HTTP_Request_configuration3" doc:name="HTTP Request configuration" doc:id="0beacdde-7823-4e50-a3d7-b0c308c0de94" basePath="/api" >
		<http:request-connection host="apilayer.net" />
	</http:request-config>
<http:request-config name="HTTP_Request_configuration4" doc:name="HTTP Request configuration" doc:id="42852e71-1ec8-473b-95bc-510e1bebec1b" basePath="/data/2.5" >
		<http:request-connection host="api.openweathermap.org" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration5" doc:name="HTTP Request configuration" doc:id="05b2283d-9f8e-41c6-a047-6b9fbd6c5f1e" basePath="/ZipCodesAPI.svc/1.0" >
		<http:request-connection protocol="HTTPS" host="api.zip-codes.com" port="443" />
	</http:request-config>
	<flow name="main" doc:id="98d33d93-aa0e-4058-8609-ed7d50dd1228">
		<http:listener doc:name="Listener" doc:id="1647bea3-a5b5-407c-bf8e-efe56a140625" config-ref="HTTP_Listener_config" path="/kk" />
		<shopify:customer-list doc:name="Customer List" doc:id="43e02f1f-adf7-4b74-810d-0b5a9ee7553f" config-ref="Shopify_Connector_Config" />
		<choice doc:name="Choice" doc:id="b70591d6-f04c-494a-a2c9-c3fc184c0ebd" >
			<when expression='#[%dw 2.0&#10;output application/json&#10;---&#10;&#10;[&#10;    {   "tags": "Team_A",&#10;        phone:"+12409078091",&#10;        "first_name":"Hayat",&#10;        "last_name":"Salah",&#10;        "customer_id":7194626523410,&#10;        "zip": "10022",&#10;          "email": "hayat.salah@google.com"&#10;&#10;&#10;&#10;    }&#10;]]'>
				<flow-ref doc:name="refer to num verify" doc:id="af68d4b6-0930-4262-8448-86c120fa8765" name="numverify"/>
			</when>
			<otherwise >
				<ee:transform doc:name="errorDB" doc:id="f10d703d-9385-41ca-83c6-711674f11975" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"insert error DB"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		
</choice>
	</flow>
	<flow name="weather and L1 referd" doc:id="d13c053f-4e8b-49d7-9c1b-56659cd2bb82" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="41d5ef5b-41ac-499a-bea4-ebef2cf25fb7" >
			<route >
				<flow-ref doc:name="refer weather" doc:id="38113eb2-ec49-49fe-8325-7c789c462ed5" name="WEATHER"/>
			</route>
			<route >
				<flow-ref doc:name="referL1" doc:id="ad275157-db6e-4ea6-925f-3525dd1c6dd3" name="L1PROJECT"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="819814da-76a2-43ba-bf0e-27e08d33b172" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="numverify" doc:id="25dc7a35-3003-4cae-899f-fe31689cf7e1" >
		<http:listener doc:name="Listener" doc:id="a9d6ec0e-4b9e-4e31-82a5-42d0e4615f5a" config-ref="HTTP_Listener_config" path="/valid"/>
		<http:request method="GET" doc:name="Request" doc:id="5062e803-be43-44ee-9068-606595885b7b" config-ref="HTTP_Request_configuration3" path="/validate">
			<http:query-params ><![CDATA[#[{
	"access_key" : "7f75a4b698f1cfff2734c3ff6d390195",
	"number" : attributes.queryParams.number
	}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="37c60963-c896-4596-94c1-b0cfa2424b9b" >
			<when expression='payload.valid == "true"'>
				<flow-ref doc:name="refer scatter" doc:id="9ed408a7-91dc-415f-b094-5bf0fbeeaf33" name="weather and L1 referd"/>
			</when>
			<otherwise >
				<ee:transform doc:name="ERRORDB" doc:id="67b2c566-7dea-465f-a085-ea5f14906b77" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"error DB"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	
</flow>
	<flow name="WEATHER" doc:id="be37fa59-7aa0-4efb-8d5f-60d5e24707c6" >
		<http:listener doc:name="Listener" doc:id="f39d420a-d5e3-4957-bfc8-60ce824fe3d5" config-ref="HTTP_Listener_config" path="/w"/>
		<http:request method="GET" doc:name="Request" doc:id="486a89f5-6124-46f8-b01b-b15f2adeb0b2" config-ref="HTTP_Request_configuration4" path="/weather">
			<http:query-params ><![CDATA[#[{
	"lat" : "39.280964",
	"appid" : "f2c5d4707693f74beb910ee086941bc7",
	"lon" : "-76.693617"
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="L1PROJECT" doc:id="b512e84e-c821-4666-abf5-f193c73f4f65" >
		<http:listener doc:name="Listener" doc:id="391dc941-4d6e-4a93-9c80-92e4ab73b9d6" config-ref="HTTP_Listener_config" path="/l1/{zip}"/>
		<http:request method="GET" doc:name="Request" doc:id="ee3dbb12-8529-4897-9889-4c638abcea09" config-ref="HTTP_Request_configuration5" path="/GetZipCodeDetails/{zip}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"zip" : attributes.uriParams.zip
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"Key" : "7P02TLBONDKF7OWOUSP3"
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
