customer-managment-api-groupa4/src/main/mule/implimentation-of-teamA.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="implimentation-of-teamAFlow" doc:id="fe8986a1-7b35-47b0-8e82-03e2218dffb6" >
		<http:request method="GET" doc:name="NUMBER VERIFY" doc:id="70f462e7-ebd0-4a4f-b022-fff1d9f61cef" config-ref="HTTP_Request_numverify" path="/validate">
			<http:body ><![CDATA[payload]]></http:body>
			<http:query-params ><![CDATA[#[{
  "access_key" :Mule::p('secure::numberverify.access_key'),
  "number": vars.teamA.TelephoneNumber
  }]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="0e68222d-3553-42fc-b8f1-23f1834f7ad6" >
			<when expression="payload.valid == true">
				<flow-ref doc:name="flow refer to l1 and weather" doc:id="b95afe92-c702-47a8-b11b-420ec4d930aa" name="weatherandl1implimentation"/>
			</when>
			<otherwise >
				<ee:transform doc:name="database mapping" doc:id="9cc81508-03c2-4fac-8209-0038b158f7d9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "tags":payload.tags,
    "TelephoneNumber": payload.TelephoneNumber,
    "customerID": payload.customerID,
    "id_hr": uuid(),
    "zipCode":payload.zipCode,
    "fullName": payload.fullName,
    "email": payload.email,
    
    "muleTimestamp": now() as String {format: "uuuu-MM-dd"}
    
    }
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:insert doc:name="insert in to error db" doc:id="9c8f1bb5-3548-4197-9b09-3f57207fab65" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into Craftsoft_B30_customer_team_A_Error(tags,TelephoneNumber,customerID,id_hr,zipCode,fullName,email,muleTimestamp)
values (:tags,:TelephoneNumber,:customerID,:id_hr,:zipCode,:fullName,:email,:muleTimestamp);]]></db:sql>
					<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
				</db:insert>
				<logger level="INFO" doc:name="in to error database flow2" doc:id="36a14742-6858-46b3-83cf-c467b7a757c7" message="#[payload]"/>
			</otherwise>
		</choice>
		<error-handler ref="error_handlersError_Handler" >
		
		</error-handler>
	</flow>
	<flow name="weatherandl1implimentation" doc:id="ba481ca5-83bb-4282-baac-222720ae649f" >
		<ee:transform doc:name="payload from numverify" doc:id="49b146a2-899b-426a-92cc-3282eb290f29" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="L1PROJECT" doc:id="1bc3f34b-bb38-4db9-9e5b-8c724f60d551" config-ref="HTTP_Request_L1" path="GetZipCodeDetails/{zipcode}">
			<http:uri-params><![CDATA[#[{"zipcode" :vars.teamA.zipCode}]]]></http:uri-params>
			<http:query-params><![CDATA[#[%dw 2.0
output application/json

---
{
    "Key": Mule::p('secure::L1project.key')
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="out put from l1 project" doc:id="290cf9a7-fd8c-426e-84da-d178ab5065c0" message="#[payload]"/>
		<http:request method="GET" doc:name="weather" doc:id="1f7c636a-fa19-40ba-9438-eae45de39ae0" config-ref="HTTP_Request_weather" path="/weather" target="weather">
			<http:query-params><![CDATA[#[output application/json
---
{
	"appid"  : Mule::p('secure::weather.appid'),
"lat" :payload.item.Latitude,
"lon" :payload.item.Longitude
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="09b55d9e-90fb-402a-ab43-d37ab438eb57" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.weather]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="output of weather" doc:id="1dfb64ac-2312-472e-865e-53d017a5647a" message="#[payload]"/>
		<error-handler ref="error_handlersError_Handler" >

		</error-handler>
	</flow>
</mule>
